.hero-imgs {
  position: absolute;
  top: 80px;
  left: 77px;
  margin: 10px;
}

.hero-imgs > img {
  width: 72.13px;
  height: 96.42px;
  position: absolute;
  border-radius: 8.5px;
}

.img1 {
  top: 64px;
}
#img2-id {
  width: 73.52px;
  height: 63.88px;
  left: 76px;
  top: 35px;
}
/* .img2 {
} */
.img3 {
  left: 76px;
  top: 102px;
}
.img4 {
  left: 152px;
  top: 60px;
}
.img5 {
  left: 152px;
  top: 160px;
}
.img6 {
  left: 228px;
  top: 35px;
}
.img7 {
  left: 228px;
  top: 135px;
}
.img8 {
  left: 304px;
  top: 50px;
}
.img9 {
  left: 304px;
  top: 150px;
}

.hero-text > h1 {
  position: absolute;
  top: 385px;
  left: 25px;
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
}

.hero-text > span {
  position: absolute;
  top: 435px;
  left: 25px;
  width: 300px;
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
}
