.card {
  margin-top: 49px;
  margin-right: 10px;
  position: relative;
}

.card-availability {
  position: absolute;
  background-color: aliceblue;
  border-radius: 3px;
}

.profile-pic {
  width: 176px;
  height: 235px;
  border-radius: 10px;
}

.star-icon {
  width: 14px;
  height: 14px;
}

.common-styles {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
}

.rating-location {
  color: #918e9b;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
}
