.katie-pic {
  width: 176px;
  height: 235px;
  position: absolute;
  top: 530px;
  left: 37px;
  border-radius: 10px;
}

/* .card-status {
  position: absolute;
  top: 550px;
  left: 40px;
  width: 61px;
  height: 20px;
  font-size: 10px;
} */

.star-icon {
  width: 14px;
  height: 14px;
}

.card-section > div,
p {
  position: relative;
  top: 695px;
  left: 37px;
  font-size: 12px;
}
