* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  /* background-color: #e5e5e5;*/
}

.app-container {
  width: 550px;
  height: 853px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 30px;
}

.cards {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  width: 100%;
}
